@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-icons-container {
    height: 50px;
    display: grid;
    background-color: #47cfac;
}

.header-icons-container .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

.header-icons-container .icons a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

.nav-logo-container {
    margin-left: 50px;
}

.nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}

.profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

.profile-link a {
    color: black;
    border-bottom: 1px solid black;
    text-decoration: none;
}

main {
    flex: 1;
}

.profile-main-container {
    position: relative;
    padding: 70px;
    background-image: url('/public/assets/img/bacgraund2.jpg'); /* Cambia esta URL por la imagen de fondo deseada */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-background {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6); /* Sombra de fondo */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 70px;
    align-items: center;
    padding: 20px;
}

.profile-image-container {
    border: 4px solid #47cfac; /* Color del borde igual al del header */
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 200px; /* Ajusta el ancho deseado */
    height: 200px; /* Ajusta el alto deseado */
}

.profile-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.profile-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-text-container h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: white;
}

.profile-text-container p {
    font-size: 16px;
    color: white;
}


/* ---------------------------------------------------- */

/* Sección de artículos */
.blogs-posts-container {
    padding: 20px 0;
}

.section-title {
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
    grid-column: 1 / -1;
}

.blogs-posts-container .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    height: 100%;
}

.post-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.post-container img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.post-title {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
}

.blogs-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: auto;
    color: white;
    background-color: #47cfac;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.2s;
    align-self: flex-start;
}

.blogs-button:hover {
    background-color: #3ba58f;
}

/* ---------------------------------------------------- */

/* Sección de contacto */
.contact-form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form-container input,
.contact-form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-form-container button {
    width: 100%;
    padding: 10px;
    background-color: #47cfac;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form-container button:hover {
    background-color: #3ba99b;
}


/* Footer original */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.footer-content {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 150px;
}

.footer-social a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    font-size: 18px;
}

.footer-text {
    flex: 1;
    margin-left: 20px;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 10px;
    margin-top: 10px;
}
